<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP ENI</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/demo-form.css}">
    <link rel="icon" th:href="@{/images/logoENI.png}">
</head>
<body>
<!-- Navbar -->
    <header data-th-replace="~{fragments/fragment-header :: frag-entete }"></header>
<main>
    <th:block th:object="${filmDto}">
        <div style="color: red;" th:if="${#fields.hasErrors('*')}" >
            <p th:text="#{index.erreurs}"></p>
        </div>

        <form th:action="@{/form}" method="POST">
            <h1>Création d'un film [En cours de construction]</h1>
            <div class="responsive-form">
                <div>
                    <label for="inputGenre">Genre</label>
                    <select id="inputGenre" name="idGenre">
                        <!--renommer Bean filmServiceBouchon -->
                        <option data-th-each="genre : ${@genreService.findAllGenres()}" data-th-value="${genre.getId()}" data-th-text="${genre.getTitre()}"></option>
                    </select>
                </div>
                <div>

                    <label for="inputReal">Réalisateur</label>
                    <select id="inputReal" name="idReal">
                        <option data-th-each="real : ${@participants.consulterParticipants()}" data-th-value="${real.id}" data-th-text="${real.getPrenom() + ' ' + real.nom}"></option>
                    </select>

                </div>
                <div>
                    <label for="inputTitre">Titre du film</label>
                    <input type="text" id="inputTitre" th:field="*{titre}">
                </div>
                <div>
                    <label for="inputAnnee">Année</label>
                    <input type="text" id="inputAnnee" name="annee">
                </div>
                <div>
                    <label for="inputDuree">Durée</label>
                    <input type="text" id="inputDuree" name="duree">
                </div>
                <div>
                    <label for="inputSynopsis">Synopsis</label>
                    <textarea id="inputSynopsis" name="synopsis"></textarea>
                </div>

                <button type="submit">Ajouter</button>
            </div>
        </form>
    </th:block>
</main>

</body>
</html>
