<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP Filmothèque - Contextes</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/demo-table.css}">
</head>
<body>
    <header data-th-replace="~{fragments/fragment-header :: frag-entete }"></header>
    <main>
        <h1>Contextes</h1>
        <a href="" class="contexte">Déconnexion</a>
        <a href="" class="contexte">Julien</a>
        <a href="" class="contexte">Anne-Lise</a>
        <a href="" class="contexte">Stéphane [admin]</a>
    </main>
</body>
</html>